{% extends "main.html" %}
{% block content %}
<script defer>
    function toNormalDataTable() {
        $("#table").dataTable({
             
        dom: 'Bfrtip',
             "orderable": false,
             
            buttons: [
                'csv', 'excel', 'print'
            ],
             "columnDefs": [
                 {
                     "targets": [10,11],
                     "class":"none"
                 },
                 {
                     "orderable": false,
                     "aaSorting": false,
                     "targets": "_all",
                 },
                 {
                    "targets": [0],
                    "className": 'details-control',
                }
             ],
             
             "iDisplayLength": 2,
             "aLengthMenu": [[2,5, 10, 25, 50, 100, -1], [2,5, 10, 25, 50, 100, "All"]],
             "language": {
                 "paginate": {
                     "previous": "previous",
                     "next": "next"
                 }
             },
			 responsive: true,
             initComplete: function () {
                 this
                    .api().order( [ 0, 'asc' ] )
                    .draw();
                 [...document.getElementsByTagName("button")]
                    .forEach(b => b.className += " btn btn-outline-primary")
                 let count = 0;
                 let cols = [3,4,5,8]; 
                 this.api().columns(cols).every(function () {
                     var column = this;
                     var select = $(`<select id="select${count++}"><option value=""></option></select>`)
                         .appendTo($(column.header()))
                         .on('change', function () {
                             var val = $.fn.dataTable.util.escapeRegex($(this).val());
                             column.search(val ? '^' + val + '$' : '', true, false).draw();
                         });
                     column.data().unique().sort().each(d => {
                            select.append('<option value="' + d + '">' + d + '</option>');
                     });
                 });
             }
         })

    }
    setTimeout(()=>toNormalDataTable(),2000);
</script>
        {{table|safe}}
{% endblock %}btn btn-outline-primary