{% extends "main.html" %}
{% block content %}
<script defer>
    function generateDataTable(id,cols){
        $("#"+id).dataTable({
                  "orderable": false,
                  "columnDefs": [
                      {
                          "targets": cols,
                          "class":"none"
                      },
                      {
                          "orderable": false,
                          "aaSorting": false,
                          "targets": "_all",
                      },
                      {
                         "targets": [0],
                         "className": 'details-control',
                     }
                  ],
                  
                  "iDisplayLength": 2,
                  "aLengthMenu": [[2,5, 10, 25, 50, 100, -1], [2,5, 10, 25, 50, 100, "All"]],
                  "language": {
                      "paginate": {
                          "previous": "previous",
                          "next": "next"
                      }
                  },
                  responsive: true,
              })
    }

    function toNormalDataTable() {
        $("#table").dataTable({
             
        dom: 'lBfrtip',
             "orderable": false,
             
            buttons: [
            {
                extend: 'csv',
                exportOptions: {
                    columns: [ 1, 2, 3, 4,5,6,7,8,9,10,11,12,13 ]
                }
            },
            
            {
                extend: 'excel',
                exportOptions: {
                    columns: [ 1, 2, 3, 4,5,6,7,8,9,10,11,12,13 ]
                }
            },
            
            {
                extend: 'print',
                exportOptions: {
                    columns: [ 1, 2, 3, 4,5,6,7,8,9,10,11,12,13 ]
                }
            }
            ],
             "columnDefs": [
                 {
                     "targets": [11,12],
                     "class":"none"
                 },
                 {
                     "orderable": false,
                     "aaSorting": false,
                     "targets": "_all",
                 },
                 {
                    "targets": [0],
                    "className": 'details-control',
                }
             ],
             
             "iDisplayLength": 2,
             "aLengthMenu": [[2,5, 10, 25, 50, 100, -1], [2,5, 10, 25, 50, 100, "All"]],
             "language": {
                 "paginate": {
                     "previous": "previous",
                     "next": "next"
                 }
             },
			 responsive: true,
             initComplete: function () {
                 this
                    .api().order( [ 1, 'asc' ] )
                    .draw();
                 [...document.getElementsByTagName("button")]
                    .filter(b => b.getAttribute("name") != "+")
                    .forEach(b => b.className += " btn btn-outline-primary");
                 let count = 0;
                 let cols = [4,5,6,9]; 
                 this.api().columns(cols).every(function () {
                     var column = this;
                     var select = $(`<select id="select${count}"><option value=""></option></select>`)
                         .appendTo($("#s"+String(count++)))
                         .on('change', function () {
                             var val = $.fn.dataTable.util.escapeRegex($(this).val());
                             column.search(val ? '^' + val + '$' : '', true, false).draw();
                         });
                     column.data().unique().sort().each(d => {
                            select.append('<option value="' + d + '">' + d + '</option>');
                     });
                 });
             }
         })

    }
    function showMainTabs(btn){
        [...document.getElementById("sub_tab_buttons").children]
            .forEach(child => child.style.display = "none");
        [...document.getElementById("tab_buttons").children]
            .forEach(child => child.style.display = "inline-block");
        [...document.getElementsByClassName("subtab")]
            .forEach(subtab => subtab.style.display = "none")
        btn.style.display = "none";

    }
    function showGraph(graph){
        let table = document.getElementById(graph).firstElementChild;
        var chart = () => {
            const svg = d3.create("svg")
                .attr("viewBox", [0, 0, width, height]);
      
            const bar = svg.append("g")
                .attr("fill", "steelblue")
                .selectAll("rect")
                .data(data)
                .join("rect")
                .style("mix-blend-mode", "multiply")
                .attr("x", d => x(d.name))
                .attr("y", d => y(d.value))
                .attr("height", d => y(0) - y(d.value))
                .attr("width", x.bandwidth());
      
            const gx = svg.append("g")
                .call(xAxis);
      
            const gy = svg.append("g")
                .call(yAxis);
    
            return Object.assign(svg.node(), {
                update(order) {
                    x.domain(data.sort(order).map(d => d.name));
    
            const t = svg.transition()
                .duration(150);
    
            bar.data(data, d => d.name)
                .order()
                .transition(t)
                .delay((d, i) => i * 20)
                .attr("x", d => x(d.name));
    
            gx.transition(t)
                .call(xAxis)
                .selectAll(".tick")
                .delay((d, i) => i * 20);
            }
        });
    }

        var data = [];
        [...table.rows].forEach(row => {
            if(!row.innerHTML.includes("graph")){
                let name = row.firstElementChild.innerText;
                let value = row.lastElementChild.innerText;
                data.push({
                    name: name,
                    value: value
                });
            }
        })
        var height = 450;
        var width = 1500;
        var margin = ({top: 50, right: 0, bottom: 130, left: 50});
        var x = d3.scaleBand()
            .domain(data.map(d => d.name))
            .range([margin.left, width - margin.right])
            .padding(0.1)
        var y = d3.scaleLinear()
            .domain([0, d3.max(data, d => d.value)]).nice()
            .range([height - margin.bottom, margin.top])
        var xAxis = g => g
            .attr("transform", `translate(0,${height - margin.bottom})`)
            .call(d3.axisBottom(x).tickSizeOuter(0))
            .selectAll("text")
                .style("text-anchor", "end")
                .style("font", "18px times")
                .attr("dx", "-.9em")
                .attr("dy", "-.2em")
                .attr("transform", function(d) {
                    return "rotate(-90)"
                });
        var yAxis = g => g
            .attr("transform", `translate(${margin.left},0)`)
            .call(d3.axisLeft(y))
            .call(g => g.select(".domain").remove())
        let chartDiv = document.getElementById("chart"+graph);
        setTimeout(() => {
            chartDiv.innerHTML = "";
            chartDiv.append(chart());
            chartDiv.style.display = "inner-block";
        }, 2000); 
    }
    setTimeout(()=>toNormalDataTable(),2000);
    function toggleFilter(){
        let filterB = document.getElementById("fltr");
        if(filterB.innerText.includes(">")){
            document.getElementById("filter").style.display = "block";
            filterB.innerText = "Filter V";
        }
        else{
            document.getElementById("filter").style.display = "none";
            filterB.innerText = "Filter >";
        }
    }
    function toggle(btn){
        if(btn.innerText == "-") btn.innerText = "+";
        else btn.innerText = "-";
    }

    window.addEventListener("load",() => {
        var span = document.getElementsByClassName("close")[0];
        var modal = document.getElementById("myModal");
        span.onclick = function() {
            modal.style.display = "none";
            [...document.getElementsByTagName("select")]
                .forEach(select => select.selectedIndex = 0);
            [...document.getElementsByClassName("page-link")]
                .forEach(l => l.setAttribute("style","z-index: 1"))
        }
        window.onclick = event => {
            if (event.target == modal) {
                modal.style.display = "none";
                [...document.getElementsByClassName("page-link")]
                    .forEach(l => l.setAttribute("style","z-index: 1"))
            }
        }
    })

    function showMyTab(tabButton){
        let id = tabButton.className.split(" ").pop();
        let tab = document.getElementById(id);
        [...document.getElementsByClassName("tab")]
            .forEach(tab => tab.style.display = "None");
        let cols = []
        if(id == "clinical"){
            for(let i = 10;i<tab.firstElementChild.getElementsByTagName("td").length;i++){
                cols.push(i);
            }
            if(tab.getAttribute("name") != "true"){
                tab.setAttribute("name","true");
                tab.firstElementChild.id = "variantTable";
                let td = document.createElement("td");
                let th = document.createElement("th");
                th.innerText = " ";
                tab.firstElementChild.firstElementChild.firstElementChild.prepend(th);
                td.innerHTML = `
                <button onclick="toggle(this)" style="color:white;font-size:20px;" name="+" class="btn btn-success btn-lg">
                +
                </button>
                `;
                [...tab.firstElementChild.getElementsByTagName("tr")]
                    .forEach(tr => tr.prepend(td));
                generateDataTable("variantTable",cols);
            }
        }
        tab.style.display = "block";
    }

    function createTab(name,data,display,isSubTab = false,topName = null){
        let tab = document.createElement("div");
        tab.innerHTML = data;
        tab.style.display = display;
        if(isSubTab)
            name = name + "---" + topName
        tab.id = name;
        tab.className = !isSubTab ? "tab" : "subtab"
        if (tab.firstElementChild)
            [...tab.firstElementChild.getElementsByTagName("td")]
                .forEach(td => {
                    if(td.innerText.includes("https")){
                        td.innerHTML = `<a href="${td.innerText}">${td.innerText}</a>`;
                    }
                });
        return tab;
    }

    function showSubTabButtons(btn){
        [...document.getElementById("tab_buttons").children]
            .forEach(child => child.style.display = "None");
        [...document.getElementById("sub_tab_buttons").children]
            .forEach(child =>{
                if(child.className.split(" ")[2] == btn.className.split(" ")[2])
                    child.style.display = "inline-block";
                else
                    child.style.display = "none";
            })
        document.getElementById("back").style.display = "inline-block";
    }

    function showMySubTab(btn){
        let id = btn.className.split(" ").pop()+ "---" + btn.className.split(" ")[2];
        let tab = document.getElementById(id);
        [...document.getElementsByClassName("subtab")]
            .forEach(tab => tab.style.display = "None");
        [...document.getElementsByClassName("tab")]
            .forEach(tab => tab.style.display = "None");
        let cols = []
        if(id == "clinical"){
            for(let i = 10;i<tab.firstElementChild.getElementsByTagName("td").length;i++){
                cols.push(i);
            }
            if(tab.getAttribute("name") != "true"){
                tab.setAttribute("name","true");
                tab.firstElementChild.id = "variantTable";
                let td = document.createElement("td");
                let th = document.createElement("th");
                th.innerText = " ";
                tab.firstElementChild.firstElementChild.firstElementChild.prepend(th);
                td.innerHTML = `
                <button onclick="toggle(this)" style="color:white;font-size:20px;" name="+" class="btn btn-success btn-lg">
                +
                </button>
                `;
                [...tab.firstElementChild.getElementsByTagName("tr")]
                    .forEach(tr => tr.prepend(td));
                generateDataTable("variantTable",cols);
            }
        }
        tab.style.display = "block";

    }

    function toggleModal(select){
        if(!select.value)
            return;
        var gene = select.value.split("-")[0]
        var index = select.value.split("-")[1]
        var type = select.value.split("-")[2]
        var modal = document.getElementById("myModal");
        var modalHeader = document.getElementById("modalHeader");
        var modalBody = document.getElementById("modalBody");
        var tab_buttons = document.getElementById("tab_buttons");
        tab_buttons.style.display = "inline-block";
        var sub_tab_buttons = document.getElementById("sub_tab_buttons");
        sub_tab_buttons.style.display = "inline-block";
        tab_buttons.innerHTML = ""
        sub_tab_buttons.innerHTML = ""
        fetch(`/getVariantData?gene=${gene}&variant=${index}&type=${type}`)
            .then(data => data.json())
            .then(data => {
                modalHeader.innerText = data["header"];
                if(type == "civic"){
                    let tab_names = ["general","clinical","assertions","groups","gene"];
                    modalBody.innerHTML = ""
                    for(let i =0;i<5;i++){
                        if(!data[tab_names[i]])
                            continue;
                        modalBody.append(
                            createTab(
                                tab_names[i],
                                data[tab_names[i]],
                                tab_names[i] == "general" ? "block" : "none" 
                            )
                        )
                        let button = document.createElement("button");
                        button.className = "btn btn-lg " + tab_names[i];
                        button.innerText = tab_names[i];
                        button.onclick = () => showMyTab(button);
                        tab_buttons.append(button);
                    }
                }
                else if(type == "cosmic"){
                    let tab_names = ["variant","resistanceMutations"];
                    modalBody.innerHTML = ""
                    for(let i =0;i<5;i++){
                        if(!data[tab_names[i]])
                            continue;
                        modalBody.append(
                            createTab(
                                tab_names[i],
                                data[tab_names[i]],
                                tab_names[i] == "general" ? "block" : "none" 
                            )
                        )
                        let button = document.createElement("button");
                        button.className = "btn btn-lg " + tab_names[i];
                        button.innerText = tab_names[i];
                        button.onclick = () => showMyTab(button);
                        tab_buttons.append(button);
                    }

                }
                else{
                    modalBody.innerHTML = "";
                    console.log(data);
                    [...Object.keys(data)].forEach(key => {
                        if(key != "header"){
                            if(typeof data[key] === 'object'){
                                [...Object.keys(data[key])].forEach(
                                    key2 => {
                                        modalBody.append(
                                            createTab(
                                                key2,
                                                data[key][key2],
                                                "none",
                                                true,
                                                key 
                                            )
                                        )
                                        let button = document.createElement("button");
                                        button.className = "btn btn-lg " + key + " " + key2;
                                        button.innerText = key2;
                                        button.style.display = "none";
                                        sub_tab_buttons.append(button);
                                        button.onclick = () => showMySubTab(button);
                                    }
                                )
                            }
                            else{
                                modalBody.append(
                                    createTab(
                                        key,
                                        data[key],
                                        key == "cadd" ? "block" : "none" 
                                    )
                                )
                            }
                            let button = document.createElement("button");
                            button.className = "btn btn-lg " + key;
                            button.innerText = key;
                            tab_buttons.append(button);
                            if(typeof data[key] !== 'object')
                                button.onclick = () => showMyTab(button);
                            else
                                button.onclick = () => showSubTabButtons(button);
                        }
                    })
                    //modalBody.innerHTML = data["body"];
                }
                modal.style.display = "block";
                [...document.getElementsByClassName("page-link")]
                    .forEach(l => l.setAttribute("style","z-index: -1"))
            })
    }
</script>
<div id="myModal" class="modal"  style="display: none;">
    <div class="modal-content" id="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2 id="modalHeader">Modal Header</h2>
        </div>
        <button style="display: none;" id="back" onclick="showMainTabs(this)">Back</button>
        <div id="tab_buttons"></div>
        <div id="sub_tab_buttons"></div>
        <div class="modal-body" id="modalBody">
        </div>
    </div>
</div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="2">
                        <a href="javascript:toggleFilter()" id="fltr">
                            Filter >
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody id="filter" style="display: none;">
                <tr>
                    <td>Gene Name</td>
                    <td id="s0"></td>
                </tr>
                <tr>
                    <td>Biotype</td>
                    <td id="s1"></td>
                </tr>
                <tr>
                    <td>Contig</td>
                    <td id="s2"></td>
                </tr>
                <tr>
                    <td>Strand</td>
                    <td id="s3"></td>
                </tr>
            </tbody>
        </table>
        {{table|safe}}
{% endblock %}btn btn-outline-primary