{% extends "main.html" %}
{% block content %}
<script>
  var startTime = new Date();
  window.addEventListener("load", () => {
    fetch("/haveaprocess")
      .then(response => response.json())
      .then(json => {
        if(!json["status"])
          document.getElementById("submitBtn").disabled = false;
        else{
          isresult();
          document.getElementById("fileprogress").style.display = "block";
        }
      })
  })

  function isresult(){
      fetch("/isresult")
        .then(reply => reply.json())
        .then(json => {
          console.log(json);
          if(!json["status"]){
            if(json["progress"]){
                document.getElementById("fileprogress").value = String(json["progress"]);
                document.getElementById("rowsprocesseddiv").style.display = "block";
                document.getElementById("rowsprocessed").innerText = "Rows Processed: " + String(json["rowsprocessed"])
            }
            let endTime = new Date();
            var timeDiff = endTime - startTime; 
            timeDiff /= 1000;
            document.getElementById("elapsedtimediv").style.display = "block";
            document.getElementById("elapsedtime").innerText = "Time Elapsed (seconds): " + String(timeDiff)
            setTimeout(() => isresult(),100);
          }
          else
            window.location = "/showresult"
        });
  }

  function uploadFile(btn){
    fetch("/haveaprocess")
      .then(response => response.json())
      .then(json => {
        if(!json["status"]){
          document.getElementById("submitBtn").disabled = false;
          let formelement = btn.parentElement.parentElement.parentElement;
          const data = new FormData();
          let file = document.getElementById("file").files[0];
          if (file.name.split(".").pop().toLowerCase() != "vcf"){
            alert("File extension not matching");
            return;
          }
          let db = document.getElementById("db").value;
          data.append("db",db);
          data.append("efile",file);
          fetch("/annotate", {
              method: 'post',
              body: data
          })
          .then(resp => resp.json())
          .then(json => {
          console.log(json);
          if(json["status"] == 1){
          document.getElementById("fileprogress").style.display = "block";
          btn.disabled = true;
          startTime = new Date();
          isresult();
      }
      else{
        alert("Corrupted File")
      }
    });
  }
        else{
          isresult();
          document.getElementById("submitBtn").disabled = true;
          document.getElementById("fileprogress").style.display = "block";
        }
      })
  }
</script>
<style>
    input,select{
    max-width: 280px;
}
#submitBtn{
	font-size:16px;
}
#fileprogress {
        width: 100%;
        height: 5.5rem;
        text-align: center;
        color: white;
        position: relative;
        padding-top: 3px;
    }

#fileprogress:before {
        content: 'Value is ' attr(value);
    }
progress {
  text-align: center;
}
progress:after {
  content: attr(value)'%';
  color: green;
}
</style>
<label for="fileprogress" style="font-size: large;">Processing progress:</label>
<progress id="fileprogress" value="0" max="100" style="display: none;"> 32% </progress>
<div id="elapsedtimediv" style="display: none;" class="alert alert-success">
  <strong id="elapsedtime">Success!</strong>
</div>
<div id="rowsprocesseddiv" style="display: none;" class="alert alert-success">
  <strong id="rowsprocessed">Success!</strong>
</div>
    <form method="POST" action="/annotate" enctype="multipart/form-data">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="file">File:</label>
            <div class="col-sm-10">
              <input id="file" class="form-control" type="file" name="efile" placeholder="Upload File" required="required">
            </div> 
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="db">Select Database:</label>
            <div class="col-sm-10">
              <select id="db" class="form-control" name="db" required="required">
                  <option value="54">NCBI 36</option>
                  <option value="75">GRCh37.p13</option>
                  <option value="102" selected>GRCh38.p13</option>
              </select>
            </div> 
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <input id="submitBtn" type="button" class="btn btn-outline-primary" value="Upload" onclick="uploadFile(this)" disabled>
          </div>
        </div>
    </form>
{% endblock %}